extends layout

block content
  .container
    section#post
      .page-header
        h1 #{post.title}
          small.muted.pull-right.vertical-center
            a.muted(href="/blog") < Back to the blog
        a.date.muted(data-alt-date="#{post.date.toString()}", title=post.date.toString()) #{moment(post.date).fromNow()}
      | !{post.content}
